.container {
    /* background-color: blue; */
    margin: auto;
    width: 400px;;
    height: 60vh;
    display: flex;
    align-items: center;
	
}

#thumbnailContainer {
    height: 10vh;
    display: flex;
    margin: 10vh;
    justify-content: center;
    /* background-color: goldenrod; */
}

.thumb {
    height: 100px;
    width: 100px;
    margin-left: 10px;
    object-fit: fill;
}

.thumb:hover {
    box-shadow: 0px 0px 10px rgb(53, 153, 247);
}

.thumbShowing {
    box-shadow: 0px 0px 10px rgb(255, 0, 212);
}

#leftButton, #rightButton {
    flex-grow: 1;
    color: white;
    margin: 10px;
    fill: white;
    background-repeat: no-repeat;
}

#rightButton{
    transform: rotate(180deg);
}

#imgContainer {
    /* flex-grow: 60; */
    /* background-color: yellow; */
    border: 1px solid lightgray;
    height: 100%;
    width: 100%;
    position: relative;
}

#imgContainer div {
    position: absolute;
    bottom: 0px;
    width: 100%;
    /* height: 25%; */
    background-color: rgba(0, 0, 0, 50%);
    color: white;
}

div h2 {
    padding: 0px;
    margin: 0px 20px;
}

div p {
    margin: 20px;
}

#mainImg {
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
}